In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
count_races = df['race'].value_counts()
print(count_races)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [7]:
men = df.loc[df['sex']=='Male', ['sex', 'age']] 
men
avg_age_men = men['age'].mean()

In [10]:
male_df = df.loc[df['sex'] == 'Male',['sex', 'age']]
male_df
avg_age_men = round(male_df['age'].mean(), 1)
print(avg_age_men)

39.4

In [11]:
bachelors = df.loc[df['education'] == 'Bachelors', 'education']
len(bachelors)
percentage_bachelors = round((len(bachelors)/len(df.education)) * 100, 1)
print(percentage_bachelors)

16.4

In [20]:
graduate = ['Doctorate','Masters', 'Bachelors']
grad_total = df.loc[df['education'].isin (options)]
grad_salary = grad_total.loc[grad_total['salary'] == '>50K']
len(grad_salary)

3486

In [12]:
options = ['Doctorate','Masters', 'Bachelors']
edu_df = df.loc[df['education'].isin (options)]
edu_df
g_salary = edu_df.loc[edu_df['salary'] == '>50K']
len(g_salary)
perc_high = round((len(g_salary)/len(df['education'])) * 100, 1)
print(perc_high)

10.7

In [12]:
len(df['education'])

32561

In [16]:
min_hrs = (df['hours-per-week']).min()
print(min_hrs)

1

In [13]:
options = ['Doctorate','Masters', 'Bachelors']
eduh_df = df.loc[~df['education'].isin (options)]
eduh_df
l_salary = eduh_df.loc[eduh_df['salary'] == '>50K']
len(l_salary)
perc_less = round((len(l_salary)/len(df['education'])) * 100, 1)
print(perc_less)

13.4

In [15]:
min_hrs_workers = df.loc[df['hours-per-week']==1]
min_hrs_workers 
min_hrs_workers_high = min_hrs_workers.loc[min_hrs_workers['salary']=='>50K'] 
min_hrs_workers_high
perc_min_hrs_workers_high = round((len(min_hrs_workers_high)/len(min_hrs_workers)) * 100, 1)
perc_min_hrs_workers_high

10.0

In [16]:
countries = df['native-country'].value_counts()

perc_country = []
c = len(df['native-country'])

In [17]:
c = df['native-country']
len(c)

32561

In [18]:
c = df['native-country']
place = df.loc[df['salary']=='>50K']
countries = place.value_counts()
perc_rep = []
for values in countries[0:]:
    perc_count = (values/len(place)) * 100
    perc_rep.append(perc_count)

In [154]:
selection = ['>50K']
place = df.loc[df['salary']== '>50K', ['native-country']] 
countries = place.value_counts()
new_df = countries.to_frame()
new_df['percentage'] = (new_df['count']/len(place)) * 100
percentage = new_df['percentage']
most = percentage.max()
new_df
new_df.reset_index()
countries[countries>7000]
countries

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Poland                  12
France                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Yugoslavia               6
Hong                     6
Ireland                  5
Vietnam                  5
Ecuador                  4
Haiti                    4
Portugal                 4
Scotland                 3
Thailand                 3
Hungary                  3
Guatemala                3
Laos                     2
Dominican-Republic       2
Peru                     2
Trinadad&Tobago          2
Columbia                 2
Nicaragua                2
Honduras                 1
Name: count, dtype: int64

In [104]:
selection = ['>50K']
place = df.loc[df['salary'].isin(selection), ['native-country', 'salary']]
countries = place.value_counts()
new_df = countries.to_frame()

In [157]:
selection = ['>50K']
india = ['India']
india_df = df.loc[df['native-country'].isin(india), ['native-country', 'salary', 'occupation']] 
india_df
india_occup = india_df.loc[india_df['salary'].isin(selection), ['native-country', 'salary', 'occupation']]
most_occup = india_occup['occupation'].value_counts().max()
most_occup
occupation = india_occup['occupation'].value_counts()
occupation[occupation>20]

occupation
Prof-specialty    25
Name: count, dtype: int64